@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #dadad5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    flex-flow: column wrap;
    background-color: #0817ff;
    color: white;
    box-shadow: inset 1px -8px 20px 0px rgba(0, 0, 0, 0.425);
    text-shadow: 1px 1px 1px black;
}
#cabecalho > p {
    padding: 10px;
}
#container-texto {
    display: block;
    height: 100vh;
    padding: 10px;
    background-color: white;
}
.texto-filhos > h2 {
    padding-bottom: 10px;
    color:  #0817ff;
}